html, body {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 40px;
}

*,
::before,
::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

#navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  border-right: solid;
  background-color: white;  
}

#navbar header {
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: black;
  border-right: none;
  border-top: solid;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

#navbar a:last-child {
  border-bottom: solid;
}

main {
  display: absolute;
  height: auto;
  padding-bottom: 1rem;
}

h1 {
  padding-top: 20px;
}

header {
  font-size: 25px;
  margin-left: 20px; 
}

p {
  line-height: 1.5em;
  padding-bottom: 5px;
}

li {
  line-height: 1.5em;
}

.code {
  background-color:rgb(185, 241, 185);
  color: black;

}

#note {
  border: solid;
  padding-left: 10px;
  padding-bottom: 10px;
}

#note-exm {
  background-color: rgb(84, 137, 84);
  float: left;
  width: 30px;
  height: auto;
  text-align: center;
  padding: 6px;
  margin-right: 10px;
  border-radius: 30px;
  color: white;
}

table {
  border: solid 0;
  background-color: #000;
}

td {
  line-height: 1.5em;
}

th, td {
  border: solid 0;
  background-color: #ffff;
  padding: 10px;
}

th {
  text-align: right;
  background-color: rgb(157, 157, 244);
}

img {
  width: 100%;
  min-width: 260px;
  max-width: 700px;
  object-fit: cover;
}

#first-bullet {
  list-style: none;
  margin-bottom: 5px;
  margin-left: 20px;
}

.second-level-bullet {
  margin-left: 40px;
}

@media (max-width: 600px) {
  #navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 341px;
    border-right: none;
  }

  .nav-link {
    height: auto;
  }

  main {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap; 
   align-items: center;
   justify-content: center;
   width: 100%;
   padding-top: 321px;
   padding-left: 30px;
   padding-right: 30px; 
 }

 h1, header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
}

@media (min-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 264.25px;
    margin-right: 30px;
  }

  h1 {
    padding-top: 20px;
    text-align: center;
  }

  header {
    font-size: 25px;
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: : 10px; 
  }

  p {
    padding-bottom: 5px;
  }

  li, p, td {
    line-height: 1.5em;
  }

  #note {
    line-height: 1.5em;
    padding: 5px;
  }

  #note-exm {
    width: 35px;
    border-radius: 30px;
  }
}